//
//  mutlipleSimulators.xcconfig
//  Joyful
//
//  Created by Wesley Scholl on 5/17/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974


# .app file location based on the scheme you are trying to use. No `/` in the end

app_location=~/Library/Developer/Xcode/DerivedData/Maby-bduqymhgrucpndebmqhpjvfiuqfk/Build/Products/Debug-iphonesimulator

# the bundle id based on the scheme you are trying to use

bundle_id=io.sleepyfran.Maby

# list of simulators separated by comma. No spaces allowed between device ids.

simulators_list=AC68D219-0988-4016-BDBF-3F46FBFB1B44,C654B2A4-CF18-4EF8-A3B3-3A0C546990F0,C97F3530-8BAC-463D-9DC7-C4D01216F2AC
