<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) picture and video library usage.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) picture and video usage.</string>
</dict>
</plist>
